// VARIAVEIS 
    @import "../helpers/variaveis";
//MIXIN
   //@import "../helpers/mixin";  
//
*{padding:0px;margin:0px;}

html,body{overflow-x:hidden;background-color:$CorCinzaClaro1;background-image:url(../../images/noise.png);}

.main{
    
    @import '../layout/header';
    @import '../layout/footer';
}