$CorBranco:#ffffff;
$CorPreto:#000000;
$CorCinzaClaro:#eeeeee;
$CorCinzaClaro1:#EEEBE8;
$CorCinzaEscuro:#2d2d2d;
$CorLarajaClaro:#cb5432;
$CorLarajaClaro1:#963f25;
$CorBege:#dcd2be;

// opacity 
$Opacity: 0.5;
$CORBRANCO:fade-out($CorBranco,$Opacity);
$CORPRETO:fade-out($CorPreto,$Opacity);