$grid-columns:      12;
$grid-gutter-width-base: 30px;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base, // 30px
  sm: $grid-gutter-width-base, // 30px
  md: $grid-gutter-width-base, // 30px
  lg: $grid-gutter-width-base, // 30px
  xl: $grid-gutter-width-base  // 30px
);

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);


$CorBranco:#ffffff;
$CorPreto:#000000;
$CorCinzaClaro:#eeeeee;
$CorCinzaClaro1:#EEEBE8;
$CorCinzaClaro2:#cccccc;
$CorCinzaEscuro:#2d2d2d;
$CorLarajaClaro:#cb5432;
$CorLarajaClaro1:#963f25;
$CorBege:#dcd2be;
$CorPadraoThema:#CB5432;

// opacity 
$Opacity: 0.5;
$CORBRANCO:fade-out($CorBranco,$Opacity);
$CORPRETO:fade-out($CorPreto,$Opacity);
$CORLARAJACLARO:fade-out($CorLarajaClaro,$Opacity);






